:root {
    --txtShadow: rgba(0,0,0,0.1);
    --fg: white;
    --secFg: #909090;
    --secBg: rgba(255, 255, 255, 0.2);
    --bdradius: 25px;
  }

body {
    font-family: system-ui, sans-serif;
    color: var(--fg);
    font-size: 1.125rem;
    line-height: 1.5;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: linear-gradient(333deg, hsl(232.3, 29%, 42%) 0%, rgb(232, 218, 218) 100%); 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1.5); 
    filter: blur(400px) brightness(50%) saturate(4);
}

.scrollable_content {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

#queue_lyrics_div {
    display: none;
    width: min(100%, 600px);
}

#lyrics_div {
    border-radius: var(--bdradius);
    background-color: var(--secBg);
    box-shadow: 0 4px 30px var(--txtShadow);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 878px;
    height: 100%;
    overflow: auto;
}

#player_div {
    display: flex;
    flex-direction: column;
    width: min(100%, 600px);
}

#searchbar {
    border-radius: var(--bdradius);
    background-color: var(--secBg);
    box-shadow: 0 4px 30px var(--txtShadow);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 50px;
    padding: 2px;
    display: flex;
    margin-top: 20px;
    position: relative; 
}

#searchInput {
    font-family: inherit;
    flex-grow: 2;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: inherit;
    padding-left: 20px;
    text-shadow: 0 1px 3px var(--txtShadow);
}

#searchSubmit {
    border: none;
    background-color: transparent;
    color: var(--fg);
    padding-right: 10px;
    padding-left: 10px;
}

#searchSubmit.spin {
    animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

input:focus {
    outline: none;
}

#suggestion-container {
    width: 90%;
    flex-grow: 2;
    padding-left: 20px;
    position: absolute;
    top: 13.5px;
    left: 2px;
    pointer-events: none;
}

#suggestion {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    color: inherit;
    text-shadow: 0 1px 3px var(--txtShadow);
    opacity: 0.7; 
    width: fit-content;
    cursor: text;
    pointer-events: auto;
}

#player {
    width: 100%;
    height: auto;
    margin-top: 20px;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    display: none;
}

#vid_info {
    font-size: 1.5rem;
    margin-top: 30px;
    text-shadow: 0 4px 30px var(--txtShadow);
    width: min(100%, 600px);
    overflow: hidden;
    text-align: center;
}

@media (max-width: 600px) {
    #vid_info {
        font-size: 1.25rem;
    }
    #suggestion-container {
        width: 70%;
    }
    #snackbar {
        font-size: 0.8rem;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: min(100%, 600px);
    background-color: var(--secBg);
    box-shadow: 0 4px 30px var(--txtShadow);
    backdrop-filter: blur(5px);
    text-shadow: 0 1px 3px var(--txtShadow);
    color: var(--fg); 
    font-size: 1rem;
    text-align: center; 
    border-radius: var(--bdradius); 
    padding: 16px;
    position: fixed; 
    z-index: 1;
    bottom: 30px; 
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#player_controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
    margin-top: 30px;
}

.ctrl_btn {
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
